@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

$cor1: #fcbf31; 
$cor2: #2A1570;
$fonte1: 'Roboto', sans-serif;
$fonte2: 'Montserrat', sans-serif;
/*SETTINGS!!!!!!*/
h1{
    font-family: $fonte2;
    font-size: 3.7vw;
}
p{
    font-size: 1.8vw;
    font-family: $fonte1;
}
body{
    background-color: #FDF5D0;
    padding-left: 100px;
    padding-right: 150px;
    background-image: url(../midia/back.png);
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}                                                                              
/*NAV MENU SUPERIOR*/
.menu{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    height: 56px;
    overflow: hidden;
    align-content: center;
    .logo{
        display: flex;    
        h1{
            color: $cor2;
            padding-left: 15px;
            font-size: 1.8em;
        }
    }    
    .cadastro{
        display: flex;
        a{
            text-decoration: none;
            color: black;
        }
        a:hover{
            color: $cor2;
        }
        .fas{
            color: $cor1;
            padding-top: 25px;
            margin-right: 10px;
        }
    }
}
#corpo{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 100%;
    justify-content: space-between;
}
.eng{
    position: absolute;
    top: 20%;
    right: 26%;
    font-size: 30px;
    animation: engrenagem 5s ease 0s infinite alternate none;
}
/*CONTENT TEXT AND BUTTON*/
.frase{
    display: flex;
    text-align: left;
    width: 40%;
    flex-direction: column;
    margin-top: 80px;

    h1{
        color: $cor2;
    }
    p{
        margin: 0;
    }
}
/*Botão engens*/
.btn{
	background-color:#fcbf31;
	border-radius:8px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:16px 18px;
    text-decoration:none;
    width: 70%;
    margin-top: 20px;
    &:hover {
	background-color:#2a1570;
    }
    &:active {
	position:relative;
	top:2px;
    }
}
@keyframes engrenagem {
    0.0%{
       
    }
    100%{
        transform: scale(2);
        transform: rotate(120);
    }
}
@media (max-width: 1080px){
    body{
        padding: 0;
        width: 100%;
    }
    .container{
        width: 100%;
    }
    .frase{
        width: 100%;
        text-align: center;
        justify-content: center;
        h1{
            font-size: 9vw;
            justify-content: center;
        }
        p{
            font-size: 6vw;
        }
    }
    .btn{
        width: 90%;
    }
    .cliente{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .menu{
        display: flex;
        p{
            display: none;
        }
        .fas{
            transform: scale(2);
        }
    }
}